.container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 50vw;
    height: 98vh;
    align-items: flex-start;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.form-container {
    width: 400px;                
    height: 300px;  
    padding: 40px 30px;         
    background-color: white;   
    box-shadow: 0 4px 15px rgba(10, 50, 1, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-left: 150px;
    border: 1px solid rgba(1, 51, 1, 0.364);
    border-radius:10px ;
    margin-top: 20vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.768);
}
input{
    padding:8px  16px ;
    border-radius: 10px;
}
button{
    margin-top: 20px;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    font-weight: 600;
    background: rgb(2, 69, 2);
     transition: 0.3s ease;
}
button:hover{
  background: #2c832c;
  color:rgb(0, 44, 0);
}